### VisualStudioCode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

### Goland ###
.idea/*
*.iml

### Go ###
*.exe
*.exe~

### Etc ###
debug
*.log
*.test
*.out
/docs

### custom ###
logs/*
/golang-framework
/golang-framework.exe